{% extends 'base.html' %}

{% block title %}
    {% if group %} Maktab CRM - Guruhni yangilash {% else %} Maktab CRM - Guruh yaratish {% endif %}
{% endblock %}

{% block content %}
    <h1>{% if group %} Guruhni yangilash {% else %} Guruh yaratish {% endif %}</h1>
    <form id="createGroupForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="group_name">Guruh nomi:</label>
            <input type="text" id="group_name" name="group_name" placeholder="Guruh nomini kiriting" value="{{ group.group_name }}" required>
        </div>
        <div class="form-group">
            <label for="classTeacher">Sinf rahbari:</label>
            <select id="classTeacher" name="classTeacher">
                <option value="">Sinf rahbarini tanlang</option>
                {% for teacher in teachers %}
                    <option value="{{ teacher.id }}" {% if group and group.classTeacher.id == teacher.id %}selected{% endif %}>
                        {{ teacher.full_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="students">O'quvchilar:</label>
            <select id="students" name="students" multiple>
                {% for student in all_students %}
                    <option value="{{ student.id }}" {% if group and student in group.students.all %}selected{% endif %}>
                        {{ student.full_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="actions">
            {% if group %}
                <button type="submit" class="btn"><i class="fas fa-save"></i> Yangilash</button>
                <a href="{{ group.get_detail_url }}" class="btn btn-secondary"><i class="fas fa-times"></i>Back to Detail</a>
            {% else %}
                <button type="submit" class="btn"><i class="fas fa-save"></i> Saqlash</button>
                <a href="{% url 'groups:list' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Bekor qilish</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
